{{- if .Values.daemonset.enabled }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "helmchart.fullname" . }}-ds
  namespace: {{ include "helmchart.namespace" . }}
  labels:
    {{- include "helmchart.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "helmchart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        {{- include "helmchart.selectorLabels" . | nindent 8 }}
        {{- if .Values.podLabels }}
        {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "helmchart.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.daemonset.image.digest }}
          image: "{{ .Values.daemonset.image.repository }}:{{ .Values.daemonset.image.tag | default .Chart.AppVersion }}@{{ .Values.daemonset.image.digest }}"
          {{- else }}
          image: "{{ .Values.daemonset.image.repository }}:{{ .Values.daemonset.image.tag | default .Chart.AppVersion }}"
          {{- end }}
          imagePullPolicy: {{ .Values.daemonset.image.pullPolicy }}
          {{- if or .Values.service.port .Values.service.containerPort }}
          {{- if .Values.daemonset.ports }}
          ports:
            {{- range .Values.daemonset.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
              protocol: {{ .protocol | default "TCP" }}
              {{- if .hostPort }}
              hostPort: {{ .hostPort }}
              {{- end }}
            {{- end }}
          {{- else if or .Values.service.port .Values.service.containerPort }}
          ports:
            - name: http
              containerPort: {{ .Values.service.containerPort | default .Values.service.port }}
              protocol: TCP
          {{- end }}
          {{- end }}
          envFrom:
            {{- if .Values.daemonset.configmap.enabled }}
            - configMapRef:
                name: {{ include "helmchart.fullname" . }}-daemonset-config
            {{- end }}
            {{- if .Values.secret.enabled }}
            - secretRef:
                name: {{ include "helmchart.fullname" . }}-secret
            {{- end }}
          {{- if .Values.daemonset.resources.enabled }}
          resources:
            limits:
              {{- toYaml .Values.daemonset.resources.limits | nindent 14 }}
            requests:
              {{- toYaml .Values.daemonset.resources.requests | nindent 14 }}
          {{- end }}
          volumeMounts:
            {{- if .Values.daemonset.volumes.enabled }}
            - name: {{ include "helmchart.fullname" . }}-logs
              mountPath: {{ default "/var/log" .Values.daemonset.volumes.mountPath }}
              readOnly: {{ .Values.daemonset.volumes.readOnly | default false }}
            {{- end }}
            {{- if .Values.daemonset.configmap.enabled }}
            - name: {{ include "helmchart.fullname" . }}-daemonset-config
              mountPath: {{ .Values.daemonset.configmap.mountPath | default "/fluentd/etc" }}
            {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- if .Values.daemonset.volumes.enabled }}
        - name: {{ include "helmchart.fullname" . }}-logs
          hostPath:
            path: {{ .Values.daemonset.volumes.hostPath }}
            type: {{ .Values.daemonset.volumes.type | default "DirectoryOrCreate" }}
        {{- end }}
        {{- if .Values.daemonset.configmap.enabled }}
        - name: {{ include "helmchart.fullname" . }}-daemonset-config
          configMap:
            name: {{ include "helmchart.fullname" . }}-daemonset-config
        {{- end }}
{{- end }}