{{- if .Values.deployment2.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helmchart.fullname" . }}-v2
  namespace: {{ include "helmchart.namespace" . }}
  labels:
    {{- include "helmchart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "helmchart.selectorLabels" . | nindent 6 }}-v2
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "helmchart.selectorLabels" . | nindent 8 }}-v2
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "helmchart.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.image.digest }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}@{{ .Values.image.digest }}"
          {{- else }}  
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- end }}  
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          envFrom:
          {{- if .Values.configmap.enabled }}
            - configMapRef:
                name: {{ include "helmchart.fullname" . }}-config
          {{- end }}
          {{- if .Values.secret.enabled }}
            - secretRef:
                name: {{ include "helmchart.fullname" . }}-secret
          {{- end }}
          {{- if .Values.healthCheckProbes.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.healthCheckProbes.livenessProbe.httpGet.path }}
              port: {{ .Values.healthCheckProbes.livenessProbe.httpGet.port }}
          readinessProbe:
            httpGet:
              path: {{ .Values.healthCheckProbes.readinessProbe.httpGet.path }}
              port: {{ .Values.healthCheckProbes.readinessProbe.httpGet.port }}
          {{- end }}
          {{- if .Values.resource.enabled }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          {{- if .Values.volume.enabled }}
          volumeMounts:
            - mountPath: {{ default ("/app") .Values.volume.mountPath }}
              name: {{ template "helmchart.fullname" . }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.volume.enabled }}
      volumes:
        - name: {{ template "helmchart.fullname" . }}
          persistentVolumeClaim:
            claimName: {{ template "helmchart.fullname" . }}
      {{- end }}
{{- end }}
