{{- if .Values.deployment.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helmchart.fullname" . }}
  namespace: {{ include "helmchart.namespace" . }}
  labels:
    {{- include "helmchart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  {{- if .Values.deploymentStrategy }}
  strategy:
  {{- with .Values.deploymentStrategy }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "helmchart.selectorLabels" . | nindent 6 }}
      {{- include "helmchart.podLabels" . | nindent 6  }}
  template:
    metadata:
      annotations:
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if and .Values.secret.enabled (not .Values.secret.existingSecretName) }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- end }}
      labels:
        {{- include "helmchart.selectorLabels" . | nindent 8 }}
        {{- include "helmchart.podLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "helmchart.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.image.digest }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}@{{ .Values.image.digest }}"
          {{- else }}  
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- end }}  
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            {{- if gt (len .Values.service.ports) 0 }}
              {{- range .Values.service.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort | default .port }}
              protocol: {{ .protocol | default "TCP" }}
              {{- end }}
            {{- else }}
            - name: {{ .Values.service.targetPort | default "http" }}
              containerPort: {{ .Values.service.containerPort | default .Values.service.port }}
              protocol: {{ .Values.service.protocol | default "TCP" }}
            {{- end }}
          {{- if .Values.commands }}
          command:
            {{- toYaml .Values.commands | nindent 12 }}
          {{- end }}
          {{- $secretName := default (printf "%s-secret" (include "helmchart.fullname" .)) .Values.secret.existingSecretName }}
          {{- if or .Values.configmap.enabled .Values.secret.enabled .Values.secret.existingSecretName }}
          envFrom:
          {{- if .Values.configmap.enabled }}
            - configMapRef:
                name: {{ include "helmchart.fullname" . }}-config
          {{- end }}
          {{- if or .Values.secret.enabled .Values.secret.existingSecretName }}
            - secretRef:
                name: {{ $secretName }}
          {{- end }}
          {{- end }}
          {{- if .Values.healthCheckProbes.enabled }}
          {{- toYaml .Values.healthCheckProbes.probes | nindent 10 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.volume.enabled }}
          volumeMounts:
            {{- if gt (len .Values.volume.volumeMounts) 0 }}
              {{- range .Values.volume.volumeMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              {{- if .subPath }}
              subPath: {{ .subPath }}
              {{- end }}
              {{- end }}
            {{- else }}
            - mountPath: {{ default ("/app") .Values.volume.mountPath }}
              name: {{ default (include "helmchart.fullname" .) .Values.volume.name }}
            {{- end }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.volume.enabled }}
      volumes:
        {{- if gt (len .Values.volume.volumes) 0 }}
          {{- range .Values.volume.volumes }}
        - name: {{ .name }}
          {{- toYaml . | nindent 10 | trimPrefix "name:" }}
          {{- end }}
        {{- else }}
        - name: {{ template "helmchart.fullname" . }}
          persistentVolumeClaim:
            claimName: {{ template "helmchart.fullname" . }}
        {{- end }}
      {{- end }}
{{- end }}
