{{- if .Values.ingressClass.enabled }}
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: {{ include "helmchart.fullname" . }}
  namespace: {{ include "helmchart.namespace" . }}
  labels:
    {{- include "helmchart.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.ingressClass.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  controller: {{ .Values.ingressClass.controller }}
{{- end }}

