{{- if and .Values.secret.enabled (not .Values.secret.existingSecretName) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "helmchart.fullname" . }}-secret
  namespace: {{ include "helmchart.namespace" . }}
  labels:
    {{- include "helmchart.labels" $ | nindent 4 }}
  annotations:
    "helm.sh/hook-weight": "4"    
type: Opaque
{{- if .Values.secret.stringData }}
stringData:
  {{- toYaml .Values.secret.stringData | nindent 2 }}
{{- else }}
data:
{{- with .Values.secret.secrets }}
  {{- range $key, $value := . }}
  {{ $key }}: {{ $value | b64enc }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
