{{- if and .Values.metrics.enabled .Values.metrics.serviceMonitor.enabled }}
# This object requires Prometheus Operator CRDs installed
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "helmchart.fullname" . }}-service-monitor
  labels:
    {{- include "helmchart.labels" . | nindent 4 }}
    {{- with .Values.metrics.serviceMonitor.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.metrics.serviceMonitor.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "helmchart.selectorLabels" . | nindent 6 }}
  namespaceSelector:
    matchNames:
      - {{ .Values.metrics.serviceMonitor.targetNamespace | default (include "helmchart.namespace" .) }}
  endpoints:
    {{- toYaml .Values.metrics.serviceMonitor.endpoints | nindent 4 }}
{{- end }}
