{{- if and .Values.secret.enabled (not .Values.secret.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "helmchart.fullname" . }}-secret
  namespace: {{ include "helmchart.namespace" . }}
  labels:
    {{- include "helmchart.labels" $ | nindent 4 }}
  annotations:
    "helm.sh/hook-weight": "4"    
type: Opaque
data:
{{- with .Values.secret.secrets }}
  {{- range $key, $value := . }}
  {{ $key }}: {{ default "" $value | toString | b64enc }}
  {{- end }}
{{- end }}
{{- end }}
