name:  checkov
on: 
  # this can be trigger based on both master and main branch.
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:
jobs:
  checkov:
    uses: clouddrove/github-shared-workflows/.github/workflows/checkov.yml@feature/check-ov # shared workflow 
    with:
     directory: 'charts/helmchart' # specify your working folder from repo
     continue_on_error: true