name: Helm Docs

on:
  push:
    branches:
      - master
    paths:
      - 'charts/helmchart/**'
      - 'charts/cronjob/**'
      - 'charts/cloudflare/**'
      - 'charts/vigil/**'
      - 'charts/rbac/**'
      - 'charts/cloudflare-ddns/**'

jobs:
  install-helm-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Install Helm Docs
        uses: envoy/install-helm-docs@v1.0.0
        with:
          # Helm Docs Version to install (Mandatory)
          helm_docs_version: 1.7.0
