name: Helm Docs

on:
  push:
    branches:
      - master

jobs:
  install-helm-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Install Helm Docs
      uses: envoy/install-helm-docs
      with:
        # Helm Docs Version to install (Mandatory)
        helm_docs_version: 1.8.0