name: Release Charts

on:
  push:
    branches:
      - master
    paths:
      - 'charts/helmchart/**'
      - 'charts/cronjob/**'

jobs:
  release:
    permissions:
      contents: write # to push chart release and create a release (helm/chart-releaser-action)
      packages: write # needed for ghcr access
      id-token: write # needed for keyless signing

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "clouddrove-ci"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: latest   

      - name: Helm package
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.GITHUB }}
          charts_url: https://charts.clouddrove.com/
          charts_dir: ./charts
          branch: master
          target_dir: ./charts

      - uses: actions/checkout@v3
      - name: Update index.yaml
        run: |
          git pull origin master
          mv charts/index.yaml .
          git add index.yaml
          git commit -m "feat: updated index.yaml for latest release"
          git push origin master          

      - name: Releasing tags and publishing charts
        uses: helm/chart-releaser-action@v1.5.0
        with:
          charts_dir: ./charts
          mark_as_latest: true
        env:
          CR_TOKEN: "${{ secrets.GITHUB }}"
